{
  "sessions": [
    {
      "user_uid": "{{admin1}}",
      "queueList": [
        {
          "artist": "Booba",
          "count": 0,
          "duration": 105681,
          "track": "Léo Messi",
          "track_picture": "https://i.scdn.co/image/ab67616d0000b273d36a96fc094b5c0c89367ca0",
          "uri": "spotify:track:3YZdPvENFPytMyrnkRWm1B",
          "user_uid": "{{user1}}",
          "voted_uids": []
        }, 
        {
          "artist": "Lala Ace",
          "count": 0,
          "duration": 161533,
          "track": "how Me Love",
          "track_picture": "https://i.scdn.co/image/ab67616d0000b273f000fb1e4f3a880456b54342",
          "uri": "spotify:track:7HIMz7nSt3GLAqZKBG0dPT",
          "user_uid": "{{user1}}",
          "voted_uids": []
        }, 
        {
          "artist": "Lala Ace",
          "count": 0,
          "duration": 140253,
          "track": "MISE À MORT (feat. Maureen)",
          "track_picture": "https://i.scdn.co/image/ab67616d0000b2734f274c2438ab12d74fc538a2",
          "uri": "spotify:track:0QLjm2PNqKRJfWsxDPa9Ra",
          "user_uid": "{{user1}}",
          "voted_uids": []
        }
      ]
    }
  ]
}